notes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="notes">
      <xsd:complexType>
              <xsd:element name="note">
                  <xsd:complexType>
                      <xsd:sequence>
                          <xsd:element name="title" type="xsd:string"/>
                          <xsd:element name="content" type="xsd:string"/>
                      </xsd:sequence>
                  </xsd:complexType>
              </xsd:note>
      </xsd:complexType>
  </xsd:element>
</xsd:schema>